[general]
font-regular="sans:size=12";
font-large="sans:size=16";
button-inner-padding=8;
vertical-padding=14;
horizontal-padding=20;
pin-square-size=12;
pin-square-amount=16;
border=2;
pin-square-border=0;
button-border=0;
corner-radius=8;

[colours]
background=0x{{base00}};
border=0x{{base00}};
text=0x{{base0A}};
error-text=0x{{base08}};
pin-background=0x{{base00}};
pin-border=0x{{base04}};
pin-square=0x{{base04}};
ok-button=0x{{base0D}};
ok-button-border=0x{{base0B}};
ok-button-text=0x{{base00}};
cancel-button=0x{{base08}};
cancel-button-text=0x{{base00}};
